<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title th:text="'Owner List'">Title ...</title>
</head>
<body>
<h2 th:text="'Owner List'">Owner List ...</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 75px;" th:text="'ID'">Owner ID ...</th>
            <th style="width: 100px;" th:text="'Last Name'">Owner Last Name ...</th>
            <th style="width: 100px;" th:text="'First Name'">Owner First Name ...</th>
            <th style="width: 150px;" th:text="'City'">Owner City ...</th>
            <th style="width: 75px;" th:text="'State'">Owner State ...</th>
            <th style="width: 75px;" th:text="'Telephone'">Owner Telephone ...</th>
            <th style="width: 150px;" th:text="'Pets'">Pets ...</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="owners" type="java.util.Set<testapps.springframework.txnspringpetclinic.data.model.Owner>"*/-->
        <tr th:each="owner:${owners}">
            <td th:text="${owner.id}">10001</td>
            <td th:text="${owner.lastName}">McClinton</td>
            <td th:text="${owner.firstName}">Testy</td>
            <td th:text="${owner.addressLine1}">1 Main Street</td>
            <td th:text="${owner.city}">Hackson</td>
            <td th:text="${owner.telephone}">999-999-9999</td>
            <td>
                <div th:each="pet: ${owner.pets}"><span  th:text="${pet.petType.name}"></span>: <span th:text="${pet.name}">Dog, Cat</span><br></div>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>